.gridContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    width: 100%;
}

@media (min-width: 768px) {
    .gridContainer {
        grid-template-columns: repeat(3, 1fr);
        align-items: stretch;
    }
}

.gridItem {
    height: 100%;
    /* Ensures cards take full height of the row */
    display: flex;
}